*.bas linguist-language=Visual Basic 6.0
*.cls linguist-language=Visual Basic 6.0
*.frm linguist-language=Visual Basic 6.0
*.vbp linguist-language=Visual Basic 6.0
*.vbw linguist-language=Visual Basic 6.0
